#root{margin:0;padding:0;box-sizing:border-box}.container{width:100vw;height:100vh;text-align:center;background-color:#8a2be2;color:#f0f8ff;display:flex;justify-content:center;align-items:center}p{font-size:3em;font-weight:bolder}
