#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: blueviolet;
  color: aliceblue;

  display: flex;
  justify-content: center;
  align-items: center;
}

p{
  font-size: 3em;
  font-weight: bolder;
}